In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("english_news_dataset.csv")

In [33]:
df.head()

,Headline,Content,News Categories,Date
0,Congress leader Baljinder Singh shot dead at h...,Congress leader Baljinder Singh was shot dead ...,['national'],19-09-2023
1,17-year-old girl preparing for NEET dies by su...,Another NEET aspirant died by suicide in Rajas...,['national'],19-09-2023
2,Hampers to welcome MPs in new Parliament tomor...,In order to mark the first-ever working day of...,['national'],19-09-2023
3,"Only 10% women lawmakers in RS, while only 14%...","Congress President Mallikarjun Kharge, while s...",['national'],19-09-2023
4,"Ganesh temple decorated with notes, coins wort...",The Sri Sathya Ganapathi Temple in Bengaluru a...,['national'],19-09-2023

In [34]:
text_list = []
from tqdm import tqdm

for i in tqdm(range(len(df))):
    text_list.append(df["Content"][i])

100%|██████████| 307696/307696 [00:00<00:00, 342260.59it/s]

In [35]:
fp = open("input.txt", "w")
with open("input.txt", "w"):
    for items in text_list:
        fp.write("%s/n" %items)